# Archivos creados por TeXstudio
*.aux
*.lof
*.lomycapequ
*.lot
*.out
*.synctex.*
*.toc
*.log
*.lol
*.bbl
*.blg
*.equ
*(busy)*
*._**

# Releases
*.zip

# Windows
desktop.ini

# OSX
__MACOSX/
.DS_Store

# Ignora proyecto PyCharm
.idea/

# Ignora archivos compilados de python
*.pyc

# Ignora el main.pdf
main.pdf

# Ignora informe.pdf
informe.pdf

# Logs
log.txt

# Distribución
dist/img
dist/src
dist/main.tex
dist/example.tex
dist/template_config.tex

# Archivos temporales
*_temp.tex
TODO.txt

# Otros
.vscode