# Archivos creados por TeXstudio
*.aux
*.lof
*.lomycapequ
*.lot
*.out
*.synctex.gz
*.toc
*.log

# Releases
.releases/*
*.zip

# Archivos de testeo
ejemplo-formulae.tex

# Windows
desktop.ini
