* {
    box-sizing: border-box;
}

@font-face {
    font-family: "San Francisco";
    font-weight: 300;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.page-header {
    color: #fff;
    text-align: center;
}

hr.style1 {
    border-top: 1px solid #8c8b8b;
}

hr.style2 {
    border-top: 3px double #8c8b8b;
}

hr.style3 {
    border-top: 1px dashed #8c8b8b;
}

hr.style4 {
    border-top: 1px dotted #8c8b8b;
}

hr.style5 {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
}

hr.style6 {
    background-color: #fff;
    border-top: 2px dotted #8c8b8b;
}

hr.style7 {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}

hr.style8 {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}

hr.style8:after {
    content: '';
    display: block;
    margin-top: 2px;
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}

hr.style9 {
    border-top: 1px dashed #8c8b8b;
    border-bottom: 1px dashed #fff;
}

hr.style10 {
    border-top: 1px dotted #8c8b8b;
    border-bottom: 1px dotted #fff;
}

hr.style11 {
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

hr.style12 {
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

hr.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

hr.style14 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

hr.style15 {
    border-top: 4px double #8c8b8b;
    text-align: center;
}

hr.style15:after {
    content: '\002665';
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
}

hr.style16 {
    border-top: 1px dashed #8c8b8b;
}

hr.style16:after {
    content: '\002702';
    display: inline-block;
    position: relative;
    top: -12px;
    left: 40px;
    padding: 0 3px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
}

hr.style17 {
    border-top: 1px solid #8c8b8b;
    text-align: center;
}

hr.style17:after {
    content: 'ยง';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}

hr.style18 {
    height: 30px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.style18:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
    color: #606c71;
    background-attachment: fixed;
    max-width: 100%;
    overflow-x: hidden;
}

.help-links {
    font-size: 0.9rem;
}

a.back-to-top {
    display: none;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: #27AE61 url("../resources/up-arrow.png") no-repeat center 43%;
}

@media screen and (min-width: 64em) {
    a.back-to-top {
        width: 70px;
        height: 70px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    a.back-to-top {
        width: 60px;
        height: 60px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }
}

@media screen and (max-width: 42em) {
    a.back-to-top {
        width: 50px;
        height: 50px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
    }
}

@media screen and (min-width: 64em) {
    .functtitlstyle {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .functtitlstyle {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 42em) {
    .functtitlstyle {
        font-size: 1.0rem;
    }
}

.iconbutton {
    position: relative;
    margin-left: 5px;
}

@media screen and (min-width: 64em) {
    .iconbutton {
        top: 4px;
        width: 16px;
        height: 16px
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .iconbutton {
        top: 2px;
        width: 14px;
        height: 14px
    }
}

@media screen and (max-width: 42em) {
    .iconbutton {
        top: 3px;
        width: 13px;
        height: 13px
    }
}

a {
    color: #1e6bb8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.fecha-estilo {
    color: #819198;
    font-size: 15px;
    position: relative;
    bottom: 0px;
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(100, 100, 100, 0.4);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    margin-left: 0rem;
    margin-right: 0.5rem;
}

/*.btn:hover {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}*/

.btn-pro {
    display: inline-block;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(10, 10, 10, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(10, 10, 10, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(10, 10, 10, 0.75);
    background-color: rgba(210, 210, 210, 0.85);
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(20, 20, 20, 1);
    font-weight: bolder;
    margin-left: 0rem;
    margin-right: 0.5rem;
}

.btn-pro:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 1.0);
    border-color: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(10, 10, 10, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(10, 10, 10, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(10, 10, 10, 0.75);
}

.btn+.btn {
    margin-left: 0rem;
}

.btn-pro+.btn-pro {
    margin-left: 0.5rem;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(30, 30, 30, 0.6);
    border-color: rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 64em) {
    .btn, .btn-pro {
        padding: 0.75rem 1rem;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn, .btn-pro {
        padding: 0.6rem 0.9rem;
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 42em) {
    .btn, .btn-pro {
        display: block;
        width: 100%;
        padding: 0.75rem;
    }
    .btn, .btn-pro {
        font-size: 0.7rem;
    }
    .btn+.btn, .btn-pro+.btn-pro {
        margin-top: 1rem;
        margin-left: 0;
    }
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 5rem 6rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 3rem 4rem;
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 2rem 1rem;
    }
}

.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
    text-shadow: 2px 2px 4px #000000;
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 2.3rem;
    }
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 1.0;
    text-shadow: 2px 2px 5px #000000;
}

@media screen and (min-width: 64em) {
    .project-tagline {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 42em) {
    .project-tagline {
        font-size: 1rem;
    }
}

.main-content :first-child {
    margin-top: 0;
}

.main-content img {
    max-width: 100%;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-weight: normal;
    /* color: #159957;*/
}

.main-content p {
    margin-bottom: 1em;
}

.main-content code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: #383e41;
    background-color: #f3f6fa;
    border-radius: 0.3rem;
}

.main-content pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #567482;
    word-wrap: normal;
    /*background-color: #f3f6fa;
    border: solid 1px #dce6f0;*/
    border-radius: 0.3rem;
}

.main-content pre>code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.main-content .highlight {
    margin-bottom: 1rem;
}

.main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.main-content .highlight pre, .main-content pre {
    padding: 0.8rem;
    overflow: auto;
    line-height: 1.45;
    border-radius: 0.3rem;
    margin-bottom: -9px;
}

@media screen and (min-width: 64em) {
    .main-content .highlight pre, .main-content pre {
        font-size: 0.79rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content .highlight pre, .main-content pre {
        font-size: 0.70rem;
    }
}

@media screen and (max-width: 42em) {
    .main-content .highlight pre, .main-content pre {
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 64em) {
    .lateximg {
        top: 8px;
        position: relative;
        height: 24px;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .lateximg {
        top: 6px;
        position: relative;
        height: 19px;
    }
}

@media screen and (max-width: 42em) {
    .lateximg {
        top: 3px;
        position: relative;
        height: 15px;
    }
}

.newline_br {
    display: block;
}

.main-content pre code, .main-content pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal;
}

.li-code-parent {
    margin-bottom: 30px
}

.config-parent {
    margin-bottom: 15px
}

.main-content ul, .main-content ol {
    margin-top: 0;
    padding-left: 3%;
}

.menu-big-entry {
    color: #159957;
}

@media screen and (min-width: 64em) {
    .menu-big-entry {
        font-size: 18px;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .menu-big-entry {
        font-size: 17px;
    }
}

@media screen and (max-width: 42em) {
    .menu-big-entry {
        font-size: 16px;
    }
}

.menu-little-entry {
    color: #159957;
}

@media screen and (min-width: 64em) {
    .menu-little-entry {
        font-size: 16px;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .menu-little-entry {
        font-size: 14.5px;
    }
}

@media screen and (max-width: 42em) {
    .menu-little-entry {
        font-size: 13px;
    }
}

.main-content li pre b {
    color: #000;
    font-size: 1.1rem;
    position: relative;
    bottom: -0.5px;
}

.main-content blockquote {
    padding-bottom: 0.5rem;
    padding-top: 0rem;
    padding-left: 0.5rem;
    padding-right: 0rem;
    margin-left: 5px;
    /*color: #819198;
    border-left: 0.3rem solid #dce6f0;*/
}

.section-template {
    color: #159957;
}

@media screen and (min-width: 64em) {
    .section-template {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .section-template {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 42em) {
    .section-template {
        font-size: 0.8rem;
    }
}

.main-content blockquote> :first-child {
    margin-top: 0;
}

.main-content blockquote> :last-child {
    margin-bottom: 0;
}

.main-content table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}

.main-content table th {
    font-weight: bold;
}

.main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec;
}

.main-content dl {
    padding: 0;
}

.main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.main-content dl dd {
    padding: 0;
    margin-bottom: 1rem;
}

.main-content hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: #eff0f1;
    border: 0;
}

@media screen and (min-width: 64em) {
    .main-content {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.0rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        padding: 2rem 4rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        padding: 2rem 1rem;
        font-size: 0.8rem;
    }
}

.site-footer {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1;
}

.site-footer-owner {
    display: block;
    font-weight: bold;
}

.site-footer-credits {
    color: #819198;
}

@media screen and (min-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (max-width: 42em) {
    .site-footer {
        font-size: 0.9rem;
    }
}

a#aimg, a:hover#aimg, .page-header#aimg {
    border: none;
    color: #fff;
    font: normal;
    height: auto;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-transform: normal;
    visibility: visible;
    width: auto;
    word-spacing: normal;
    z-index: auto;
}
